{% load mrx_custom_template_tags %}
{% load mrx_custom_template_filters %}
{% include 'includes/collapsable-panel-header.html' with name='AcsHttpRequestList' headline=headline|default:"ACS HTTP Request List" %}
        {% if acs_http_request_list %}
            {% if is_paginated %}
                {% include 'includes/pagination-footer.html' %}
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th>ACS HTTP Request</th>
                        <th>ACS Session</th>
                        <th>When</th>
                        <th>RPC Method</th>
                        <th>Headers</th>
                        <th>Body</th>
                        <th>RPC Response To</th>
                        <th>RPC Response</th>
                        <th>HTTP Response</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for acs_http_request in acs_http_request_list %}
                    {% url 'acs_http_request_detail' pk=acs_http_request.id as acs_http_request_detail_url %}
                    {% url 'acs_session_detail' pk=acs_http_request.acs_session.id as acs_session_detail_url %}
                    {% if acs_http_request.rpc_response_to %}
                      {% url 'acs_http_response_detail' pk=acs_http_request.rpc_response_to.id as response_to_detail_url %}
                    {% endif %}
                    {% if acs_http_request.rpc_response %}
                      {% url 'acs_http_response_detail' pk=acs_http_request.rpc_response.id as rpc_response_detail_url %}
                    {% endif %}
                    {% url 'acs_http_response_detail' pk=acs_http_request.http_response.id as http_response_detail_url %}
                    <tr>
                        <td>{% include 'includes/small-details-button.html' with url=acs_http_request_detail_url %}{{ acs_http_request }}</td>
                        <td>{% include 'includes/small-details-button.html' with url=acs_session_detail_url %}{{ acs_session }}</td>
                        <td>{{ acs_http_request.created_date }}</td>
                        <td>{{ acs_http_request.cwmp_rpc_method }}</td>
                        <td><span class="badge">{{ acs_http_request.request_headers|length }} bytes</span></td>
                        <td><span class="badge">{{ acs_http_request.body|length }} bytes</span></td>
                        <td>
                          {% if acs_http_request.rpc_response_to %}
                            {% include 'includes/small-details-button.html' with url=response_to_detail_url %}{{ acs_http_request.rpc_response_to.tag }}</td>
                          {% else %}
                            N/A
                          {% endif %}
                        </td>
                        <td>
                          {% if acs_http_request.rpc_response %}
                            {% include 'includes/small-details-button.html' with url=rpc_response_detail_url %}{{ acs_http_request.rpc_response }}
                          {% else %}
                            N/A
                          {% endif %}
                        </td>
                        <td>{% include 'includes/small-details-button.html' with url=http_response_detail_url %}{{ acs_http_request.http_response.tag }}</td>
                        <td>
                            {% include 'includes/details-button.html' with url=acs_http_detail_url %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
                {% include 'includes/pagination-footer.html' %}
            {% endif %}
        {% else %}
            <p>No ACS HTTP Requests Found!</p>
        {% endif %}
{% include 'includes/collapsable-panel-footer.html' %}
